# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
*.egg-info/
dist/
build/
*.spec.bak
/env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.sqlite3
staticfiles/
media/
.env

# Node / Vue
frontend/node_modules/
frontend/dist/
frentend/build/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/.DS_Store
dist-electron/
build-electron/
*.log
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# PyInstaller
dist/
build/
*.spec.bak

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
